.body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    min-height: 86%;
    background-color: #E0E0E0;
    color: #847C7E;
    padding: 20px;
    max-width: 100%;
}

.innerBody {
    border: solid #0C1821 2px;
    background-color: #282c34;
    color: #E0E0E0;
    padding: 50px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    
}

.footer {
    color: #E0E0E0;
    background-color: #0C1821;
    /* border-top: solid #0C1821 3px;
    border-bottom: solid #0C1821 3px; */
    padding: 15px;
    text-align: center;
}

.navbar {
    background-color: black;  
}

.link {
    color: #8B1E3F;
}

.link:hover {
    color: #28B094;
}

h1 {
    padding-bottom: 20px;
    color: #0C1821;
    text-align: center;
}

.aboutContainer > h2 {
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    color: #0C1821;
    font-size: 28px !important;
    margin-left: 0;
    margin-top: 0;
}

input {
    background-color: white;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,.25), 0 17px 50px 0 rgba(0,0,0,.25);
}

.buttPass {
    background-color: #28B094 !important;
    border: black !important;
    color: #E0E0E0 !important;
    float: left;
}

.buttPass:hover{
    background-color: #E9AD20 !important;
}

.buttAcc {
    background-color: #28B094 !important;
    border: black !important;
    color: #E0E0E0 !important;
    float: center;
}

.buttAcc:hover{
    background-color: #E9AD20 !important;
}

.pBody {
    font-size: 20px;
}

.pFooter {
    color: #E0E0E0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    border: 2px solid #0C1821 !important;
}

.aboutContainer {
    padding: 0 16px;
    height: 200px;
    border-top: 1px solid #0C1821 !important;
}
  
.aboutContainer::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.aboutTitle {
    color: #666666;
    text-align: center;
}

.cardText {
    color: #666666;
    text-align: center;
} 

.bannerImg {
    width: 100%;
    margin-bottom: -20px;
}

.pLanding {
    margin-top: 40px;
    margin-bottom: 0px;
    color: #0C1821;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

.scroll > .row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.scroll > .row > .col {
    padding: 10px;
    
}

.gamePic {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.gamePic:hover {
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 1);
}

.aboutPic {
    width: 100%;
    height: 500px;
    overflow: hidden;
    object-fit: cover;
}

.landingContent {
    padding-left: 20px;
    padding-right: 20px;
}

.accountSpan {
    color: #E9AD20;
}

.aboutBio {
    margin-left: 350px;
    margin-right: 350px;
}

a {
    text-decoration: none !important;
    color: #28B094;
}

a:hover {
    text-decoration: none !important;
    color: #8B1E3F !important;
}

.searchPlatform {
    color: #8B1E3F;
    
}

.reviewInput {
    justify-content: left;

}

/* Uncomment this shit if you want to hide the scrollbar */
/* ::-webkit-scrollbar {
    /* width: 0;  /* Remove scrollbar space */
    /* background: transparent;  /* Optional: just make scrollbar invisible */
/* } */ 